*{
    padding: none;
}
body{
    background-color: ghostwhite;
    font-family: 'Poppins';
}
img{
   height: 5rem;
    width: 5rem;
    margin: auto;
}
.link{
    color: white;
}
.card{
    border-radius: 10px;
    margin: 3px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.006),
    0 100px 80px rgba(0, 0, 0, 0.001);
}
.small-card{
    height: 8rem;
    margin-bottom: 15px;
    width: 17rem   
}
#table{
    width: 22rem;
    height: 19rem;
    padding: 1rem;
    margin: 10px 0 20px 3px ;
    
}
.land{
    background-color: #f1fcfc;
}
.jumbotron{
    background-color: #f1fcfc;
    height: 35rem;
    display: block;
}
#land-image{
    height: auto;
    width: auto;
}
.navbar,.btn{
    background-color: #633a82;
    }
.btn{
    color: white;
}
