{% extends 'base.html' %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top ">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="30" height="30"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1abc9c"><path d="M86,6.88c-43.65603,0 -79.12,35.46397 -79.12,79.12c0,43.65603 35.46397,79.12 79.12,79.12c43.65603,0 79.12,-35.46397 79.12,-79.12c0,-43.65603 -35.46397,-79.12 -79.12,-79.12zM86,13.76c39.93779,0 72.24,32.30221 72.24,72.24c0,39.93779 -32.30221,72.24 -72.24,72.24c-39.93779,0 -72.24,-32.30221 -72.24,-72.24c0,-39.93779 32.30221,-72.24 72.24,-72.24zM55.48344,55.04v61.92h7.20922v-47.28656h0.51735l19.52469,46.86328h6.52391l19.52469,-46.86328h0.51735v47.28656h7.20922v-61.92h-8.96953l-21.19766,51.23719h-0.68531l-21.20438,-51.23719z"></path></g></g></svg><a class="navbar-brand" href={% url 'home' %}>Medicare </a>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'dashboard' %}>Dashboard<span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href={% url 'login' %}>Login<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'logout' %}>Log out<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'signup' %}>Create Account<span class="sr-only"></span></a>
                </li>
          
            </ul>
        </div>
    </nav>
    <main role="main">
        <br>
        <br>
        <div class="row land">
            <div ></div>
            <div class="col-4 offset-1">
                <img id="land-image" src="https://www.freepnglogos.com/uploads/doctor-png/doctor-ufe-foccupation-pinterest-boy-cards-19.png" alt="">
            </div>
            <div class="col-7">
                <div class="jumbotron">
                    <div class="container">
                        <h4 class="display-4"><b>Easy hospital management</b></h4><br>
                        <p>Change the way you control, register and analyse information about patients<br> - with Medicare.</p>
                        <br>
                        <br>
                        <p><a class="btn btn-lg" href={% url 'signup'%} role="button">Get started &raquo;</a></p>
                        <p>Are you a medical practioner? <a href={% url 'personnel-signup' %}>Register here</a> </p>
                    </div>
                </div>
            </div>
            
            </div>
            
        
        <br>
    </main>

    <footer class="container">
        <p class="text-center">&copy; Medicare 2020</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock content %}